@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


/* Celular de ate 720 de largura*/
@media only screen and (max-width: 720px) {
    .contacts-section{
        padding-top: 0;
        padding-left: 5rem;
    }
    .main-content {
        margin-left: 5rem;
        padding: 1rem;
    }
    
    #titulo {
        text-align: center;
        text-decoration: none;
        margin: 0;
    }
    #navigation {
        top: 0;
        width: 5rem;
        height: 100%;
        flex-direction: column;
    }

    .logo {
        height: 100%;
        width: 60%;
    }

    .link-text {
        display: none;
        margin-left: 1rem;
    }

    ul.lista-links {
        list-style: none;
        display: flex;
        margin-left: auto;
        text-decoration: none;
        align-items: center;
        flex-wrap: wrap;
        align-items: center;
        align-items: center;
        transition: 600ms;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    ul.lista-links li {
        margin: 0 0 0 4px;
        width: 100%;
        padding: 10px 0 10px 0;
        height: auto;
        display: flex;
        justify-content: center;
    }

    ul.lista-links li img {
        height: 24px;
        width: 35% !important;
        margin-right: 5px;
    }
    .sSP-first {
        padding: 25px;
    }
    .secondSectionParagraph {
        color: #ffffff;
        text-align: center;
    }

    .secao2-content {
        background-color: #6cff7759;
        height: 75%;
        margin: 0 auto;
    }

    .secondParallax {
        background-image: url('../icons/backgroudImage-3.png');
        opacity: 0.9;
        height: 100% !important;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 5rem;
        background-size: cover;
    }

    #linkUm {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .thirdParallax {
        background-image: url('../icons/parallax-3.jpg');
        opacity: 0.9;
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 5rem;
        background-size: cover;
    }

    .back-to-top {
        position: fixed;
        z-index: 9999;
        bottom: 0;
        right: 0;
        height: 35px;
        text-align: center;
        width: 35px;
        line-height: 0px;
        background: #34efad;
        color: #fff !important;
        font-size: 50px;
        margin-right: 20px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    .fa {
        display: inline-block;
        font: normal normal normal 2rem/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
    }
    .formas-grid{
        margin-bottom: 15px;
    }
    .formas-de-uso {
        background: white;
        margin-top: 15px;
        max-height: 200px;
        overflow: auto;
        word-break: normal;
        padding: 16px;
        word-wrap: break-word;
    }
    .grid {
        width: 75%;
        margin-right: auto;
        display: flex;
        margin-left: auto;
        margin-top: auto;
        grid-template-areas: "c1 c2 c3";
        grid-gap: 5px;
        padding-top: 40px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 40px;
        padding-right: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
        flex-wrap: nowrap;
        flex-flow: column;
    }
    .formas-img{
        display: none;
    }
    .formas-de-uso{
        grid-column: 1/3;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 470px) {
    .text {
        font-size: 11px
    }
#titulo {
  text-align: center;
  text-decoration: none;
  margin: 0;

}
    .secao2-content{
        font-size: 14px;
    }
    .grid {
        width: 75%;
        margin-right: auto;
        display: flex;
        margin-left: auto;
        margin-top: auto;
        grid-template-areas: "c1 c2 c3";
        grid-gap: 5px;
        padding-top: 40px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 40px;
        padding-right: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
        flex-wrap: nowrap;
        flex-flow: column;
    }

    .formas-de-uso {
        background: white;
        margin-top: 15px;
        word-break: normal;
        padding: 16px;
        max-height: 200px;
        overflow: auto;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 375px){
    .grid {
        width: 75%;
        margin-right: auto;
        display: flex;
        margin-left: auto;
        margin-top: auto;
        grid-template-areas: "c1 c2 c3";
        grid-gap: 5px;
        padding-top: 40px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 40px;
        padding-right: 0px;
        padding-bottom: 40px;
        padding-left: 0px;
        flex-wrap: nowrap;
        flex-flow: column;
    }
    .slideshow-container{
        width: 100%;
    }

}

@media only screen and (max-height: 720px) and (max-width: 720px){
    .img-wrapper {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        box-shadow: 6px -6px 14px 0px rgba(0,0,0,0.71);
        border-radius: 15px;
    }
}

@media only screen and (max-height: 370px){
    .secao2-content{
        display: flex;
        flex-direction: column;
        height: 70%;
    }
    .secondSectionParagraph {
        padding: 10px;
    }
    .sSP-first {
        padding: 10px;
    }
}